.overlay, .overlay:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.overlay:before {
  content: '';
  background: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 780px) {
  .overlay:before {
    background: rgba(255, 255, 255, 0.35);
  }
}
